.App {
  text-align: center;
  display: flex;
  justify-content: center;
}
.post-list{
  padding-top: 100px;
}
.card-body{
display: flex;
  padding: 10px 0 10px 10px;
  border: 1px black solid;
  border-radius: 5px;
  width: 700px;
}

.card-text{
  padding-right: 10px;
}
